<div class="overlay" [hidden]="!loading">
    <div class="loader-block spinner">
        <div class="preloader6">
            <hr>
        </div>
    </div>
    <!--
    <div class="loader-block spinner">
        <svg id="loader2" viewBox="0 0 100 100">
            <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
        </svg>
    </div>
    <div class="preloader3 loader-block spinner">
        <div class="circ1 loader-primary loader-md"></div>
        <div class="circ2 loader-primary loader-md"></div>
        <div class="circ3 loader-primary loader-md"></div>
        <div class="circ4 loader-primary loader-md"></div>
    </div>
    -->
</div>
