/* You can add global styles to this file, and also import other style files */
.table-xs {
    font-size: 90%;
}

thead {
    font-variant: small-caps;
}

.link {
    font-size: 95%;
    font-weight: bold;
}
.modal-xlg {
    background-color: red;
    width: 90%;
    max-width:1200px;
}

.text-red {
    color: crimson;
}
